html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik" sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  width: 100%;
  min-width: 375px;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 40px auto 30px !important;
  text-align: center;
  max-width: 350px;
  color: #252b46;
}

p {
  color: #9194a1;
  max-width: 375px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 auto 30px;
}

header {
  width: 100%;
}

.main-nav {
  width: 100%;
  display: flex;
}

.main-nav div {
  margin: 20px 20px;
}

.logo-nav {
  width: 100vw;
  display: flex;
  flex: 0 0 90%;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.nav-nav {
  display: flex;
  margin: 0 20px !important;
  padding: 0 20px;
  align-content: center;
}

nav {
  display: none;
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  transition: 0.5s;
}

.nav-toggle {
  display: initial;
  visibility: visible;
  background-color: #252b46;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0.9;
  padding: 33px 0;
  transition: 0.5s;
}

nav ul {
  display: block;
  padding: 0 !important;
  width: 80%;
}

nav ul li {
  list-style: none;
  margin: 20px 0;
  padding: 20px 0 0;
}

nav ul li {
  border-top: 1px solid grey;
}

nav ul li:last-child a {
  border: 2px solid white;
  padding: 10px 40%;
  margin: 10px 0;
  border-radius: 5px;
  display: block;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  margin: 50px auto;
  text-align: center;
}

.nav-social {
  text-align: center;
  position: absolute;
  top: 85%;
  width: 100%;
  margin: 0 auto;
}

.nav-social > img {
  margin-right: 25px;
}

.icon-close {
  text-align: right;
  align-self: center;
  position: absolute;
  left: 87%;
}

.cover {
  height: 200px;
  width: 250px;
  background-color: #5368df;
  position: relative;
  z-index: -999;
  top: 50px;
  text-align: left;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}

.img-cover {
  display: flex;
  justify-content: flex-end;
  width: 100% !important;
  margin: 50px 0 70px;
}

.illustration {
  width: 350px;
  position: absolute;
  justify-self: flex-end;
  padding-right: 40px !important;
  float: right;
}

.feature-img {
  margin: 0 0 100px 0;
}

.feature-img .cover {
  border-radius: 0;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  width: 300px;
}

.feature-img .illustration {
  padding-left: 80px;
  padding-top: 30px;
  width: 373px;
}

.tab {
  max-width: 450px;
  margin: 0 auto 50px;
}

.tab p {
  margin: 0 auto;
  padding: 10px 0;
  width: 55%;
}

.tab-h2 {
  transition: 0.5s;
}

.tab-active {
  border-bottom: 5px solid #9194a1;
  border-bottom-color: #fa5757;
  color: #252b46;
}

.tab div {
  width: 90%;
  margin: auto;
  border-top: 1px solid #9194a1;
  border-bottom: 1px solid #9194a1;
}

.button-div {
  text-align: center;
  margin: 30px 0;
}

.gray-button:hover {
  color: #9194a1 !important;
  border: 2px solid #9194a1 !important;
  cursor: pointer;
}

.button-div > button:hover {
  color: #5368df;
  border: 2px solid #5368df;
  background-color: white;
}

button {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin: 0 5px;
  box-shadow: 0px 5px 10px #9194a1;
}

.button-div :nth-child(1) {
  background-color: #5368df;
  color: white;
}

.download h2 {
  padding: 90px 0 0 !important;
}

.browser {
  margin: 50px auto;
  height: 360px;
  width: 280px;
  box-shadow: 5px 5px 15px #9194a1;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0 0;
}

.browser p,
.browser h3 {
  margin: 20px 0 0 !important;
}

.browser button {
  width: 90%;
  background-color: #5368df;
  color: white;
  margin: 20px auto;
}

.browser button:hover {
  color: #5368df;
  background-color: white;
  border: 2px solid #5368df;
  cursor: pointer;
}

.browser img {
  display: block;
  padding: 20px auto;
  margin: 20px auto 0;
}

.faq {
  padding: 50px 0;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.question > div {
  display: flex;
  border-bottom: 1px solid #9194a1;
  width: 90%;
  align-content: center;
  margin: 20px auto;
}

.question div p {
  text-align: left !important;
  min-width: 90%;
  margin: 0 0 10px;
  padding: 0;
  flex: 0 0 50% !important;
}

.question div div {
  margin-top: 10px;
  justify-self: flex-end;
  text-align: right;
  flex: 0 0 1%;
}

.question div p {
  color: #252b46;
}

.question div p:hover,
nav ul li a:hover,
.footer-nav a:hover,
.tabs p:hover,
.footer-social img:hover {
  color: #fa5757;
  cursor: pointer;
}

.tab-active:hover {
  color: #252b46;
}

.question p {
  margin-top: 20px;
}

.faq button {
  background-color: #5368df;
  color: white;
  height: 50px;
  width: 100px;
}

.cta {
  background-color: #5368df;
  color: white !important;
  padding: 80px 20px;
  min-width: 100vw;
}

.cta p,
.cta h2 {
  color: white !important;
  margin: 10px auto !important;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.input-div {
  flex: 0 0 90%;
  margin: 0 auto 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.error-toggle {
  border: 2px solid #fa5757;
  padding: 0 5px !important;
  background-color: #fa5757;
  border-radius: 5px;
}

.input-button {
  flex: 0 0 90%;
}

.error-img {
  position: relative;
  z-index: 9999;
  left: 90%;
  bottom: 40%;
  visibility: hidden;
  display: none;
}

small {
  margin-top: 10px;
  visibility: hidden;
  display: none;
}

input {
  flex: 0 0 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  margin: 5px auto 0;
}

form button {
  width: 100%;
  color: white;
  background-color: #fa5757;
}

footer img {
  padding: 0 10px;
}

footer {
  background-color: #252b46;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

footer a {
  text-decoration: none;
  color: #9194a1;
  display: block;
  text-transform: uppercase;
  margin: 30px auto;
}

.footer-nav {
  margin: 30px 0;
}

.bookmark {
  text-align: center;
}

.bookmark button {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.answer-toggle {
  max-height: 100%;
}

.arrow-icon {
  transform: rotate(180deg);
  filter: invert(5%) sepia(109%) saturate(7496%) rotate(2deg) brightness(108%) contrast(107%);
  filter: invert(100%) sepia(100%) saturate(6000%) hue-rotate(147deg) brightness(105%) contrast(12%);
}

.toggle-visibility {
  display: initial;
  visibility: visible;
}

.footer-logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(105%) contrast(102%);
}

@media only screen and (min-width: 760px) {
  body {
    min-width: 1200px;
  }
  .nav-social {
    display: none;
    visibility: hidden;
  }
  .cover {
    height: 400px;
    width: 450px;
  }
  .illustration {
    width: 600px;
  }
  .feature-img .cover {
    width: 600px;
  }
  .feature-img .illustration {
    padding-left: 70px;
    margin-left: 100px;
    padding-top: 20px;
    width: 600px;
  }
  .main-nav {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
  }
  .logo-nav {
    flex: 0 0 30%;
  }
  nav {
    display: inline-block;
    visibility: initial;
    margin: 20px 0 !important;
    width: 100%;
  }
  nav ul {
    width: 100%;
    margin: 0 !important;
  }
  nav > ul > li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  .ham {
    display: none;
    visibility: hidden;
  }
  nav ul li {
    border: none;
    padding: 0;
  }
  nav a {
    text-decoration: none;
    color: #252b46;
    padding: 10px;
    margin: 20px auto;
  }
  .icon-close {
    display: none;
    visibility: hidden;
  }
  nav > ul :last-child a {
    border: 1px solid #fa5757 !important;
    background-color: #fa5757 !important;
    padding: 7px 12px !important;
    color: white !important;
    border-radius: 5px;
    display: initial;
    margin: 0;
  }
  nav > ul :last-child a:hover {
    background-color: white !important;
    color: #fa5757 !important;
  }
  .main-illustration {
    display: flex;
  }
  .hero {
    order: -1;
    align-self: center;
    text-align: left;
    justify-self: flex-start;
    flex: 0 0 60%;
  }
  .hero h1,
  .hero p,
  .hero div {
    text-align: left;
    margin: 30px 150px !important;
    padding: 0;
  }
  .tab div {
    border: none;
  }
  .tab {
    display: flex;
    max-width: 75%;
    border-bottom: 1px solid #9194a1;
  }
  .tab p {
    min-width: 70% !important;
  }
  .bookmark button {
    background-color: #5368df;
    color: white;
    display: initial;
  }
  .tab-img {
    display: flex;
  }
  .bookmark {
    text-align: left !important;
    flex: 0 0 50%;
    align-self: center;
    justify-self: flex-start;
  }
  .bookmark h2,
  .bookmark p {
    text-align: left;
    margin: 20px 0 20px 180px !important;
    width: 100%;
  }
  .bookmark button {
    margin: 20px 0 20px 180px !important;
  }
  .browser-div {
    display: flex;
    justify-content: center;
  }
  .browser {
    margin: 50px 20px;
  }
  .first {
    margin-top: 80px;
  }
  .second {
    margin-top: 120px;
  }
  .faq {
    width: 50%;
  }
  .faq > p,
  .answer {
    min-width: 80%;
  }
  form {
    display: flex;
    justify-content: center;
    margin: 20px 0 !important;
    width: 100%;
  }
  .input-div {
    flex: 0 0 40%;
    margin: 0 !important;
    margin-right: 20px !important;
    align-self: center;
  }
  .error-img {
    position: relative;
    z-index: 9999;
    left: 90%;
    bottom: 37px;
  }
  .input-button {
    flex: 0 0 10%;
    margin-top: 5px;
  }
  form button {
    flex: 0 0 10%;
    align-self: flex-start;
    margin: 0 !important;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
  footer a {
    display: inline;
    padding: 0 10px;
    margin: 0 10px;
    position: relative;
    bottom: 5px;
  }
  footer + div {
    display: flex;
  }
  .footer-img {
    display: inline;
    align-self: center;
  }
  .footer-nav {
    display: inline !important;
    margin: 0;
    padding: 0;
    margin-left: 25px !important;
    align-self: center;
  }
  .footer-menu {
    display: none;
    visibility: hidden;
  }
}
